
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-background: rgb(23, 19, 19);

    --first-quart-background: #92d050;
    --second-quart-background: #00b0f0;
    --third-quart-background: #ffc000;
    --fourth-quart-background: #ff0000;

    --main-shadow: 0px 0px 5px 5px white;
    --element-shadow: 0 0 5px 5px black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-image: url('./assets/thomas-bormans.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: silver;
    position: relative;
}

.page-header h1{
    font-size: 2.5rem;
    text-align: center;
}

#task{
    outline: none;
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: var(--element-shadow);
}

#task:focus{
    outline: none;
    border: none;
    box-shadow: var(--main-shadow);
}

.task-pipe{
    width: 10px;
    height: 350px;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -35%);
}

.task-sent{
    width: 100%;
    height: 10px;
    background: silver;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
    position: absolute;
    display: none; 
}

.task-sent-active{
    display: block;
    animation: task-slide 3s ease;
}

.button-panel{
    min-width: 30%;
    padding: 2rem;
    box-shadow: var(--element-shadow);
    display: flex;
    background: linear-gradient(150deg, var(--main-background) , rgb(95, 93, 93), var(--main-background));
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.task-button{
    font-size: 1.2rem;
    padding: .5rem;
    box-shadow: var(--element-shadow);
    background: linear-gradient(150deg, var(--main-background) , rgb(95, 93, 93), var(--main-background));
    color: white;
    cursor: pointer;
    border: 2px solid silver; 
    position: relative;
    overflow: hidden;
}

.task-button:hover .button-spark{
    animation: spark-slide .5s  linear;
    animation-delay: .5s;
}

.button-spark{
    height: 150%;
    background: white;
    border: 5px solid white;
    position: absolute;
    top: -20%;
    left: -40%;
    transform: skew(140deg);
    box-shadow: var(--main-shadow);
    opacity: .8;
    
}

.hidden{
    display: none;
}

.matrix{
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.matrix div{
    width: 200px;
    height: 200px;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: white;
}

.first-quart{
    background: var(--first-quart-background);
    opacity: .8;
}

.second-quart{
    background: var(--second-quart-background);
    opacity: .8;
}

.third-quart{
    background: var(--third-quart-background);
    opacity: .8;
}

.fourth-quart{
    background: var(--fourth-quart-background);
    opacity: .8;
}

.quart-shiny{
    box-shadow: 0 0 5px 5px black;
    opacity: 1;
}

.task-area{
    padding: 1rem;
    background: linear-gradient(150deg, var(--main-background) , rgb(95, 93, 93), var(--main-background));
    box-shadow: var(--element-shadow);
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

.task-list, .delete-buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}

.task-list{
    font-size: 1.2rem;
    padding: 1rem;
}


.delete-buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.delete-button{
    padding: 0.5rem;
    background:  none;
    outline: 2px solid silver;
    box-shadow: 0 0 5px 5px black;
    color: white;
    cursor: pointer;
    border: none;
}

.delete-button:hover{
    box-shadow: var(--main-shadow);
}

@keyframes task-slide{
    from {top:0;}
    to   {top: 200%;}
}

@keyframes button-change{
    from {background: linear-gradient(150deg, var(--main-background) , rgb(95, 93, 93), var(--main-background));}
    to {
        background: linear-gradient(150deg, rgb(95, 93, 93), var(--main-background), rgb(95, 93, 93));
        box-shadow: var(--main-shadow);
    }
}

@keyframes spark-slide {
    from {left: -100%;}
    to {left: 150%;}
    
}

@media only screen and (max-width:800px){

    #task{
        max-width: 90%;
    }

    .button-panel{
        width: 90%;
        gap: 1rem;
        padding: 2rem 0;
    }

    .matrix div{
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .task-area{
        width: 90%;
    }
}


